---
import IconName from "@/components/IconName.astro";
import Link from "@/components/Link.astro";
import TimePeriod from "@/components/TimePeriod.astro";

import type { Org } from "@/models/recivi";

import { epics } from "@/stores/recivi";

interface Props {
	org: Org;
}
const { org } = Astro.props;
---

<div class="border-b px-4 py-2">
  <div class="flex justify-between">
    <strong
      ><IconName
        {...org}
        url={`/resume/orgs/${org.id}`}
      /></strong
    >
    {org.url && <Link url={org.url}>website</Link>}
  </div>

  <ul class="mt-1">
    {
      org.roles.map((role) => (
        <li>
          <div class="flex justify-between gap-3">
            <span>
              {role.name}
              <span class="text-[0.5rem]">
                {role.epicIds?.[0]
                  ? `@${epics.find((epic) => epic.id === role.epicIds?.[0])?.name}`
                  : ''}
              </span>
            </span>
            <span class="text-subtle">
              <TimePeriod {...role.period} />
            </span>
          </div>
        </li>
      ))
    }
  </ul>
</div>
